@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    text-align: center;
    padding: 30px;
}

main#album {
    display: flex;
    flex-flow: row wrap; 
    /* Da esquerda pra direita e quebrar */
}

section.coluna {
    /* border: 1px dashed black; */
    flex: 1 1 100%; 
    padding: 0px 5px;
    /*flex: (grow(crescer)) + (shrink(encolher)) + (basis(tamanho do elemento))*/
    /* Por padrão a img será 100% (telas pequenas, celulares);
        mas quando maior a tela, menor a imagem e vai quebrar pois havera espaço de largura 
    */
}

section > img {
    width: 100%;
    padding-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}